<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/_site/style.css" />
  </head>
  <body>
    <header>
      <h2>{{ title }}</h2>
      <nav>
        <ul>
          {% for item in navigation %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main>{{ content | safe }}</main>
    <footer>
      <p>
        &copy; 2025 VR0EM static-site-generator
        <a href="https://github.com/VR0EM"> bezoek</a> mijn github pagina
      </p>
    </footer>
  </body>
</html>
